#main-page-carousel-en.main-page-carousel.carousel.slide{'data-ride'=>"carousel", 'ng-init'=>"initCarousel()", 'data-interval'=>"10000"}
  %ol.carousel-indicators
    %li.active{data:{target:"#main-page-carousel-en", 'slide-to'=>"0"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"1"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"2"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"3"}}
  .carousel-inner{role:"listbox"}
    .item.active
      .container
        .row.carousel-slide-title
          .col-xs-12.center
            %strong
              User Tutorial
        .row.top-buffer
          .col-xs-4
            %figure.text-center
              %img{'src' => "/images/enteryourdestination.png", 'style' => 'height: 50px;', 'alt' => 'Enter your Destination'}
              %figcaption Enter your Destination
          .col-xs-4
            %figure.text-center
              %img{'src' => "/images/customizeyourtrip.png", 'style' => 'height: 50px;', 'alt' => 'Customize your Trip'}
              %figcaption Customize your Trip
          .col-xs-4
            %figure.text-center
              %img{'src' => "/images/planyourride.png", 'style' => 'height: 50px;', 'alt' => 'Plan your Ride!'}
              %figcaption Plan your Ride!
        .row.top-buffer
          .col-xs-12.text-center
            Watch the Video Guide
        .row.top-buffer
          .col-xs-6
            English:
          .col-xs-6
            Spanish:
        .row
          .col-xs-6
            %iframe{'src'=>"https://www.youtube.com/embed/WiJcMjr1qm0", 'width' => '560', 'height' => '315'}
          .col-xs-6
            %iframe{'src'=>"https://www.youtube.com/embed/DlxJ9rB8k6U", 'width' => '560', 'height' => '315'}
        .row          
          .col-xs-12.text-center
            %a{href:"https://www.youtube.com/watch?v=Aa6eqLOApoA", target:"_blank", class:"main-page-link"} Vietnamese 
            %a{href:"https://youtu.be/0hsX5qbzcHc", target:"_blank", class:"main-page-link"} Farsi 
            %a{href:"https://www.youtube.com/watch?v=OckfTquIQX4", target:"_blank", class:"main-page-link"} Dari          
    .item
      .container
        .row.carousel-slide-title
          .col-xs-12
            %strong
              Partnership History of 211RIDE
        .row.top-buffer
          .col-xs-1
            2015:
          .col-xs-11
            %img{'src' => "/images/VetLink_slogan.png", 'style' => 'height: 50px;'}
        .row.top-buffer
          .col-xs-12
            211 San Bernardino partnered with 211 Riverside to create a trip planning tool for Veterans with transportation needs and 211 VetLink was born. 211 VetLink brought together an array of partners, many of whom had never worked together before. The success was tremendous by helping more than 200,000 veterans find transportation solutions across the Inland Empire. 
        .row.top-buffer
          .col-xs-1
            2018:
          .col-xs-11
            %img{'src' => "/images/211_Ride_Logo_sm.png", 'style' => 'height: 50px;'}
        .row.top-buffer
          .col-xs-2
            %img{'src' => "/images/211_SoCal.png", 'style' => 'height: 150px;'}
          .col-xs-10
            %strong
              Why not all of Southern California? 
            With nearly 40% of all 211 callers indicating not having a vehicle of their own, and the need to plan a trip cross-county lines, the Southern California 211 non-profits (211 Community Connect, 211 Inland Empire United Way, 211 Los Angeles and 211 Orange County) joined forces to create the 211RIDE Partnership.  The 211RIDE one-click solution is available to the public free of charge, offers customers the most appropriate transit option for every trip, increases ride usage and aids in the planning of cross-county trips.
        .row.top-buffer
          .col-xs-12.text-center
            %strong
              Enjoy your trip!
        .row.top-buffer
          .col-xs-3.text-center
            %a{:href => "https://www.metro.net", target:"_blank"}
              %img{'src' => "/images/Metro.png", 'class' => 'carousel-sm-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} LA Metro
          .col-xs-3.text-center
            %a{:href => "https://www.octa.net", target:"_blank"}
              %img{'src' => "/images/OCTA.png", 'class' => 'carousel-sm-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} OCTA
          .col-xs-3.text-center
            %a{:href => "https://www.rctc.org", target:"_blank"}
              %img{'src' => "/images/211_RCTC.png", 'class' => 'carousel-sm-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} RCTC
          .col-xs-3.text-center
            %a{:href => "http://gosbcta.com/sbcta/", target:"_blank"}
              %img{'src' => "/images/sbcta_logo_rev.png", 'class' => 'carousel-sm-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} SBCTA
        .row.top-buffer
          .col-xs-3.text-center         
            %a{:href => "http://www.211la.org", target:"_blank"}
              %img{'src' => "/images/211_LACounty.png", 'class' => 'carousel-sm-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} LA County
          .col-xs-3.text-center
            %a{:href => "http://www.211oc.org", target:"_blank"}
              %img{'src' => "/images/211_HelpStarts.png", 'class' => 'carousel-sm-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} Orange County
          .col-xs-4.text-center
            %a{:href => "http://www.connectriverside.org", target:"_blank",}
              %img{'src' => "/images/CClogo.png", 'class' => 'carousel-sm-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} Riverside County
          .col-xs-2.text-center
            %a{:href => "http://www.211sb.org", target:"_blank"}
              %img{'src' => "/images/Color211 San Bernardino County-transparent.png", 'class' => 'carousel-sm-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} San Bernardino County
    .item
      .container
        .row.carousel-slide-title
          .col-xs-12
            %strong
              What can 211RIDE do for You?
        .row.top-buffer
          .col-xs-2
            %figure.text-center
              %img{'src' => "/images/Bus Stop.png", 'style' => 'height: 50px;', 'alt' => 'Bus Stop'}
          .col-xs-10
            211RIDE helps you research and manage your own transportation plans, and assists in facilitating your travel in and between Los Angeles, Orange, Riverside and San Bernardino County.
        .row.top-buffer
          .col-xs-2
            %figure.text-center
              %img{'src' => "/images/Map.png", 'style' => 'height: 50px;', 'alt' => 'Map'}
          .col-xs-10
            211RIDE simplifies your trip planning process by assessing your trip planning options based on factors such as physical mobility challenges, veterans eligibility, age, trip purpose, preferred transit mode and schedule.
        .row.top-buffer
          .col-xs-2
            %figure.text-center
              %img{'src' => "/images/Pedestrian.png", 'style' => 'height: 50px;', 'alt' => 'Pedestrian'}
          .col-xs-10
            211RIDE helps you choose the most appropriate transit mode by evaluating fixed-route transit, demand-responsive transit, taxi and other private transportation services, paratransit, volunteer transportation service networks and carpools/vanpools.
    .item
      .container
        .row.carousel-slide-title
          .col-xs-12
            %strong
              Need Assistance?
        .row.top-buffer
          .col-xs-12.text-center
            %strong
              Contact your local 211! 
        .row.top-buffer
          .col-xs-3.text-center         
            %a{:href => "http://www.211la.org", target:"_blank"}
              %img{'src' => "/images/211_LACounty.png", 'class' => 'carousel-lg-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} LA County
          .col-xs-3.text-center
            %a{:href => "http://www.211oc.org", target:"_blank"}
              %img{'src' => "/images/211_HelpStarts.png", 'class' => 'carousel-lg-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} Orange County
          .col-xs-4.text-center
            %a{:href => "http://www.connectriverside.org", target:"_blank",}
              %img{'src' => "/images/CClogo.png", 'class' => 'carousel-lg-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} Riverside County
          .col-xs-2.text-center
            %a{:href => "http://www.211sb.org", target:"_blank"}
              %img{'src' => "/images/Color211 San Bernardino County-transparent.png", 'class' => 'carousel-lg-agency-logo'}
              %figcaption{'class' => 'carousel-figcaption'} San Bernardino County
  %a.carousel-control-prev{href:"#main-page-carousel-en", role:"button", 'data-slide'=>"prev"}
    %span{class:"carousel-control-prev-icon"}
  %a.carousel-control-next{href:"#main-page-carousel-en", role:"button", 'data-slide'=>"next"}
    %span{class:"carousel-control-next-icon"}
  %br
  %br
#footer.text-center
  %br
  %a{href:"/data/Legal.pdf", target:"_blank", class:"main-page-link"} Legal
  %span &vert; 
  %a{href:"#title-vi-list", role:"button", 'data-toggle'=>"collapse"} Federal Transportation Authority Title VI Circular
  #title-vi-list.collapse
    %a{href:"/data/InEnglish/211RIDE Complaint Form.pdf", target:"_blank", class:"main-page-link"} 211RIDE Complaint Form
    %span &vert;
    %a{href:"/data/InEnglish/211RIDE Complaint Procedure.pdf", target:"_blank", class:"main-page-link"} 211RIDE Complaint Procedure
    %span &vert;
    %a{href:"/data/InEnglish/211RIDE Public Notice.pdf", target:"_blank", class:"main-page-link"} 211RIDE Public Notice
