#main-page-carousel-en.main-page-carousel.carousel.slide{'data-ride'=>"carousel"}
  %ol.carousel-indicators
    %li.active{data:{target:"#main-page-carousel-en", 'slide-to'=>"0"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"1"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"2"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"3"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"4"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"5"}}

  .row
    .col-sm-6.col-xs-12.text-center.icon-grid
      %a.btn.btn-primary{href:"https://s3.amazonaws.com/bin-gtc-prod/Quick+List+-+Transportation+Services.pdf", target:'_blank'}  List of Providers
      .mode-label
        Show me all the transportation providers.
    .col-sm-6.col-xs-12.text-center.icon-grid
      %a.btn.btn-primary{href:"https://s3.amazonaws.com/bin-gtc-prod/Quick+Guide+.pdf", target:'_blank'}  Quick Guide
      .mode-label
        How do I use this site?
  %br
  %br
  .carousel-inner{role:"listbox"}
    .item.active
      .container.text-center
        .mode-label
          Connect to shopping.
        %img{src:"/images/A.jpeg"}
    .item

      .container.text-center
        .mode-label
          Connect to jobs.
        %img{src:"/images/B.jpeg"}
    .item
      .container.text-center
        .mode-label
          Connect to medical services.
        %img{src:"/images/C.jpeg"}
    .item
      .container.text-center
        .mode-label
          Connect to dining.
        %img{src:"/images/D.jpeg"}
    .item
      .container.text-center
        .mode-label
          Connect to food and grocery.
        %img{src:"/images/E.jpeg"}

    .item.text-center
      .container
        %h2 Need Help?
        %a{href: 'mailto:ridelivingston@co.livingston.ny.us'} Click Here to Send an Email.

  %a.left.carousel-control{href:"#main-page-carousel", role:"button", 'data-slide'=>"prev", style:'display:none;'}
  %a.right.carousel-control{href:"#main-page-carousel", role:"button", 'data-slide'=>"next", style:'display:none;'}
