#main-page-carousel-en.main-page-carousel.carousel.slide{'data-ride'=>"carousel"}
  %ol.carousel-indicators
    %li.active{data:{target:"#main-page-carousel-en", 'slide-to'=>"0"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"1"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"2"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"3"}}

  .carousel-inner{role:"listbox"}
    .item.active
      .container
        %h2 Find Rides with these Services
        %h3
          Able Medical Transportation, Inc.
        %i
          Paratransit
        %br
        585-756-2222
        %br
        Saturday hours possible with 48-hr. advance notice.  Serves Livingston to Monroe County and vice versa.

        %h3
          ACCESS Allegany
        %i
          Paratransit
        %br 
        585-593-1738 or 585-593-5223
        %br
        Call Center: 8 a.m. to 4:30 p.m. Buses 5 a.m. to 8 p.m., depending on route.  
        %a{href: 'http://www.accessallegany.org'} www.accessallegany.org

        %h3
          ARC of Livingston-Wyoming
        %i
          Paratransit
        %br
        585-658-2384
        %br
        Call Medicaid Answering Service to arrange individual transport.  Also does private contracting with institutions.

        %h3
          Attica Bus
        %i
          Fixed-Route Transit
        %br
        585-591-2107
        %br
        Call 585-591-2107 for appointment, 2-3 days in advance, M-F, 5:30 a.m. to 6:00 p.m.; after hours, leave message.

        %h3
          Avon Checkered Cab
        %i
          Taxi
        %br
        585-443-0504
        %br
        Please call for rates.

        %h3
          Catholic Charities - Faith in Action
        %i
          Volunteer
        %br
        585-658-4466 x18
        %br
        Must live in Livingston County; Transportation is available for elderly, frail, and/or physically, emotionally or mentally disabled.  If Rider has a wheelchair, the chair must be foldable and Rider must be able to transfer into seat.  Transportation can be for the following: Medical appointments, shopping, or friendly visits.  
        %a{href: 'http://www.aboutcclc.org'} www.aboutcclc.org

        %h3
          CH Medical Transport
        %i
          Paratransit
        %br
        585-271-4340
        %br
        Appointments through Medicaid only; no private pay.  Will pick up in Livingston County for appointments in Monroe County.

        %h3
          Community Action Transportation System (CATS)
        %i
          Paratransit
        %br
        585-589-7700
        %br
        Only serves rides originating in Orleans or Genesee County.  Saturday service is for dialysis only, 6 a.m. to 6 p.m. 
        %a{href: 'http://www.caoginc.org'} www.caoginc.org

        %h3
          Dakota Medical Transportation
        %i
          Taxi
        %br        
        585-235-7777
        %br
        Accepts Medicaid and private pay riders.  Service available 24/7, 365 days/year.  Taxis and vans.  No wheelchair, unless client accompanied by helper.  Needs at least 24 hrs. advance notice for private pay rides.

        %h3
          Empire DM Medical Transportation
        %i
          Paratransit
        %br        
        315-477-1487
        %br
        The $24 program allows disabled riders, who need door-to-door service, to visit anywhere in Syracuse. Allow riders two round trip appointments per month with our complete door-to-door assistance; Group transports available (including wheelchair); open 365 days/year.  
        %a{href: 'http://www.empiredm.com'} www.empiredm.com

        %h2
          %div{data:{target:"#main-page-carousel-en", 'slide-to'=>"1"}} Show More Services

    .item
      .container
        %h2 Find Rides with these Services
        %h3
          Faith in Action - Hornell
        %i
          Volunteer
        %br
        607-324-1138
        %br
        Must live in Hornell, Canisteo, Arkport, Alfred, Almond, South Dansville, Wayland, Jasper, Troupsburg (Steuben County); for seniors 60+ only

        %h3
          Genesee Airport Taxi
        %i
          Taxi
        %br
        585-266-3333
        %br
        Please call for rates.

        %h3
          Genesee Medical Transportation
        %i
          Paratransit
        %br
        585-256-1510
        %br
        Will go into Livingston County only if ride originates in Monroe County.  Medicaid and private pay.  Wheelchairs, stretchers accepted.   
        %a{href: 'http://www.geneseetransport.com'} www.geneseetransport.com

        %h3
          Greyhound Bus
        %img{src: 'https://s3.us-east-2.amazonaws.com/occ-gtc-prod/images/gh.jpg', height:"100px"}
        %br
        %i
          Fixed-Route Transit
        %br
        800-858-8555
        %br
        Pick-up points:  84 Main St., Mt. Morris; 19 Clara Barton St., Dansville, 106 Main St., Geneseo. 

        %h3
          Hornell Area Transit System (HATS)
        %i
          Fixed-Route Transit
        %br
        607-324-7910
        %br
        Serves specific locations in/near Livingston County: Dansville -- 7:20 a.m., 1:30 p.m. pickups, followed by Wayland, Canaseraga stops.  Saturday - Canisteo & Bath runs only.  Medicaid and private pay.    
        %a{href: 'http://www.hatrides.com'} www.hatrides.com

        %h3
          Isaman Transport
        %i
          Taxi
        %br
        607-324-0300
        %br
        Based in Hornell.  Takes rides through MAS.  No private pay.  Cars and vans only.  No wheelchairs.  Some Saturday hours, as needed.  Please call for rates.

        %h3
          LeGault Limo Service / Around Town Shuttle
        %i
          Taxi
        %br
        585-227-9334
        %br
        Private pay by appointment only.  Sedans, vans, SUVs, sprint shuttles, buses.  Does not accept Medicaid.  Drivers are certified.  Open 24/7.  Please call for rates.

        %h3
          Luxury Limos
        %i
          Taxi
        %br
        585-245-2742
        %br
        rnfalco@yahoo.com rad@infoblvd.net Medicaid and Fidelis-approved NEMT vendor.  Uses sedans, SUVs, and vans.  Please call for rates.

        %h3
          Medical Answering Service (MAS) / Medicaid Transportation
        %i
          Paratransit
        %br
        (888) 226-2219
        %br
        Call this service to book all Medicaid transportation. You must sign up for Medicaid before using this service.
        %a{href: 'http://www.medanswering.com'} www.medanswering.com

        %h3
          Medicab of Rochester        
        %i
          Paratransit
        %br
        585-342-7150
        %br
        Services Monroe County only; may cross Co. line if person is coming from Rochester to another county depending on availability.
        %a{href: 'http://www.medicabofrochester.com'} www.medicabofrochester.com

        %h3
          Medical Motors Service       
        %i
          Paratransit
        %br
        585-654-7030
        %br
        Does not serve Livingston County.
        %a{href: 'http://www.medicalmotors.org'} www.medicalmotors.org

        %h3
          Metro Transport, Inc.      
        %i
          Paratransit
        %br
        585-328-8030
        %br
        Medicaid & private pay.  After hours trips by appointment with 24 hrs. notice.

        %h2
          %div{data:{target:"#main-page-carousel-en", 'slide-to'=>"2"}} Show More Services


    .item
      .container
        %h2 Find Rides with these Services
        %h3
          Mt. Morris Taxi Service II, Inc.
        %i
          Taxi
        %br
        585-658-4515
        %br
        Private pay -- cash only + Medicaid per contract with agencies.  Call 2-3 days in advance for private pay rides.  Will go to Steuben & Ontario counties.  Must provide your own car seat for children.    Please call for rates.

        %h3
          Project FISH
        %i
          Volunteer
        %br
        585-453-2370
        %br
        Please give 24-hour notice; Lima, HF, Greece, Henrietta, W. Bloomfield, Rush Henrietta and Mendon only; Riders must be able to get in/out of vehicle independently;  If Rider has a wheelchair, the chair must be foldable and Rider must be able to transfer into seat. 

        %h3
          Rochester Medical Transport (RMT)
        %i
          Non-Emergency Medical Service
        %br
        585-288-3444
        %br
        Medicaid and private pay.
        %a{href: 'http://rochestermedicaltransportation.com'} http://rochestermedicaltransportation.com

        %h3
          RTS Access
        %img{src: 'https://s3.us-east-2.amazonaws.com/occ-gtc-prod/images/rts.png', height:"100px"}
        %br
        %i
          Paratransit
        %br
        585-224-8330
        %br
        %a{href: 'https://www.myrts.com/Access'}  https://www.myrts.com/Access

        %h3
          RTS Livingston
        %img{src: 'https://s3.us-east-2.amazonaws.com/occ-gtc-prod/images/rts.png', height:"100px"}
        %br
        %i
          Fixed-Route Transit
        %br
        585-658-4690
        %br
        %a{href: 'https://www.myrts.com/Livingston/Schedules'}  https://www.myrts.com/Livingston/Schedules


        %h3
          Town and Country Cab
        %i
          Taxi
        %br
        585-880-8056
        %br
        Primarily a Medicaid transport service, but does transport SUNY Geneseo students to transportation hubs in Rochester (bus, train, air) and Buffalo (air).  Please call for rates. 

        %h3
          Trailways
        %img{src: 'https://s3.us-east-2.amazonaws.com/occ-gtc-prod/images/tways.png', height:"100px"}
        %br
        %i
          Fixed-Route Transit
        %br
        800-295-5555
        %br
        Leave Rochester 8:10 a.m., arrive Village Mart, Dansville 5:15 p.m.; Leave Rochester 8:30 a.m., arrive Jane's Pantry, Mt. Morris 5:35 p.m.

        %h3
          Turbo Taxi
        %i
          Taxi
        %br
        585-749-6648
        %br
        Try to provide 24 hour notice; will provide at-elbow service if needed; student discounts; prices/times subject to change.  Please call for rates.

        %h3
          We Care Transport
        %i
          Paratransit
        %br
        716-898-7900
        %br
        Special needs charter services by contract or pre-arrangement.  
        %a{href: 'www.wecaretrans.com'}  www.wecaretrans.com

        %h2
          %div{data:{target:"#main-page-carousel-en", 'slide-to'=>"3"}} Need Help?


    .item
      .container
        %h2 Need Help?
        %a{href: 'mailto:ridelivingston@co.livingston.ny.us'} Click here to send an email.
        
        %h4
          %div{data:{target:"#main-page-carousel-en", 'slide-to'=>"0"}} Back to the Beginning




  %a.left.carousel-control{href:"#main-page-carousel", role:"button", 'data-slide'=>"prev", style:'display:none;'}
  %a.right.carousel-control{href:"#main-page-carousel", role:"button", 'data-slide'=>"next", style:'display:none;'}
