#main-page-carousel-en.main-page-carousel.carousel.slide{'data-ride'=>"carousel", 'data-interval'=>"950000"}
  %ol.carousel-indicators
    %li.active{data:{target:"#main-page-carousel-en", 'slide-to'=>"0"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"1"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"2"}}
  .carousel-inner{role:"listbox"}
    .item.active
      .container
        .row
          .col-md-8.col-md-offset-2.col-xs-12
            .row
              .col-md-6.col-xs-12
                %h1
                  %strong
                    .text-uppercase
                      .text-nowrap
                        How to get from
                      .text-nowrap
                        point A to point B
                      .text-nowrap
                        with every option
                      .text-nowrap
                        from A to Z
            %h2.text-center{style:'font-weight:600;'}
              .text-uppercase
                Find the best route, see travel times and
                compare costs from multiple providers
    .item
      .container
        .row
          .col-md-8.col-md-offset-2.col-xs-12.pad-text-center
            .row
              .col-xs-12.text-center
                %h1
                  %strong
                    Utah's Ultimate Trip Planner
            .row
              .col-sm-3.col-xs-6.text-center
                %img{src:"/images/carousel/rail.png"}
                .mode-label
                  Rail Transit
              .col-sm-3.col-xs-6.text-center
                %img{src:"/images/carousel/bus.png"}
                .mode-label
                  Bus Transit
              .col-sm-3.col-xs-6.text-center
                %img{src:"/images/carousel/taxi.png"}
                .mode-label
                  Taxi Service
              .col-sm-3.col-xs-6.text-center
                %img{src:"/images/carousel/uber.png"}
                .mode-label
                  UBER
              .col-sm-3.col-xs-6.text-center
                %img{src:"/images/carousel/health.png"}
                .mode-label
                  Health Services
              .col-sm-3.col-xs-6.text-center
                %img{src:"/images/carousel/community.png"}
                .mode-label
                  Community Groups
              .col-sm-3.col-xs-6.text-center
                %img{src:"/images/carousel/personal.png"}
                .mode-label
                  Personal Transportation
              .col-sm-3.col-xs-6.text-center
                %img{src:"/images/carousel/accessible.png"}
                .mode-label
                  Accessible Transportation
    .item
      .container
        .row
          .col-xs-12
            %h2.text-center{style:'font-weight:600;'}
              .text-uppercase
                How Utah Ride Link can benefit your organization
        .row
          .col-md-4.col-md-offset-2.right-border-hr
            %img{src:'/images/carousel/resources.png', style:'width:100%;'}
            %h4.text-uppercase
              %strong
                Additional Resources
            %p
              We provide more transportation resources than just trip planning:
            %ul
              %li
                Coordinating Councils
              %li
                Grant Funding Opportunities
              %li
                Travel Training
              %li
                Vehicle Programs
              %li
                Regional Projects
          .col-md-4.right-border-hr
            %img{src:'/images/carousel/providers.png', style:'width:100%;'}
            %h4.text-uppercase
              %strong
                Service Providers
            %p
              By partnering with Utah Ride Link, you join a growing network of organizations dedicated to helping people get where they need to be.
              That means it will be easier for seniors, persons with disabilities and all others to find your services, resulting in more efficient transporation for everyone.
          .vert-hr
  %a.left.carousel-control{href:"#main-page-carousel", role:"button", 'data-slide'=>"prev", style:'display:none;'}
  %a.right.carousel-control{href:"#main-page-carousel", role:"button", 'data-slide'=>"next", style:'display:none;'}
.container
  .row{style:'margin-top:40px;'}
    .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
      %p
        Utah Ride Link was created to help you find all available transportation options along the Wasatch Front.
        Tell us where you're going and when you want to get there, and we'll take care of the rest.
        We'll provide you with all the different transportation options, travel times and help compare costs.
  .row{style:'margin-top:40px;'}
    .col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
      %img{src:'/images/carousel/uta.png', style:'vertical-align: bottom;'}
      A FREE service funded jointly by FTA and UTA with ongoing support by UTA.
