#main-page-carousel-en.main-page-carousel.carousel.slide{'data-ride'=>"carousel", 'ng-init'=>"initCarousel()", 'data-interval'=>"10000"}
  %ol.carousel-indicators
    %li.active{data:{target:"#main-page-carousel-en", 'slide-to'=>"0"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"1"}}
    %li{data:{target:"#main-page-carousel-en", 'slide-to'=>"2"}}
  .carousel-inner{role:"listbox"}
    .item.active
      .container
        .row.carousel-slide-title
          .col-xs-12
            %strong
              About 211 VetLink Trip Planner
        .row.top-buffer
          .col-xs-12.center
            VetLink Trip Planner does not have trip booking capability, it is the user's responsibility to contact and arrange for transportation from the appropriate provider. *Tip* Plan ahead of time for more possible options!
    .item
      .container
        .row.carousel-slide-title
          .col-xs-12
            %strong
              About 211 VetLink Trip Planner (continued)
        .row.top-buffer
          .col-xs-12
            Click the 211 logos to search community resources, then click on "Plan a Trip" link to learn how to get there. Still need help? Dial 2-1-1!
        .row
          .col-xs-12.text-center
            %a{:href => "http://www.211sb.org/"}
              %img{:src => "/images/SanBernadino211.png"}
            %a{:href => "http://www.connectriverside.org/"}
              %img{:src => "/images/CommunityConnect211.png"}
    .item
      .container
        .row.carousel-slide-title
          .col-xs-12
            %strong
              Funding for 211 VetLink Trip Planner provided by:
        .row.top-buffer
          .col-xs-12.text-center
            %a{:href => "http://www.fta.dot.gov/"}
              %img{:src => "/images/FTA.jpg"}
            %a{:href => "http://www.omnitrans.org/"}
              %img{:src => "/images/OmniLogo.png"}
            %a{:href => "http://www.caltrans.ca.gov/"}
              %img{:src => "/images/Caltrans.jpg"}
            %a{:href => "http://gosbcta.com/sbcta/"}
              %img{:src => "/images/SBCTALogo.jpg"}
            %a{:href => "http://www.sanbag.ca.gov/funding/measure-i.html"}
              %img{:src => "/images/measure-I.gif"}
            %a{:href => "http://www.rctc.org/"}
              %img{:src => "/images/RCTC.png"}
  %a.left.carousel-control{href:"#main-page-carousel-en", role:"button", 'data-slide'=>"prev", style:'display:none;'}
  %a.right.carousel-control{href:"#main-page-carousel-en", role:"button", 'data-slide'=>"next", style:'display:none;'}