.container
  .row
    .col-xs-12.center.text-center
      .row
        %img{src: "/images/bigbrand.png"}/
      %br/
      .col-xs-2.center.text-center
      .col-xs-8.center.text-justify
        Bienvenido a TransPortal, un centro de recursos de transporte virtual financiado por la Administración Federal de Tránsito (FTA). Este proyecto es un esfuerzo conjunto de la Northeast Florida Mobility Coalition. La Coalición está formada por proveedores de transporte, funcionarios electos, responsables políticos, expertos en planificación, representantes de agencias de financiamiento y agencias que brindan apoyo a personas desfavorecidas en el transporte, incluidos veteranos y familias militares. Para obtener más información sobre la gestión de la movilidad en el noreste de Florida, haga
        = succeed "." do
          %a{href: "http://info.transportal.net/"} clic aquí
      .col-xs-2.center.text-center