.container
  .row
    .col-xs-12.center.text-center
      .row
        %img{src: "/images/bigbrand.png"}/
      %br/
      .col-xs-2.center.text-center
      .col-xs-8.center.text-justify
        Welcome to TransPortal, a virtual transportation resource center funded by the Federal Transit Administration (FTA). This project is a joint effort of the Northeast Florida Mobility Coalition. The Coalition is made up of transportation providers, elected officials, policy makers, planning experts, funding agency representatives and agencies that support transportation disadvantaged individuals including veterans and military families.
        To learn more about mobility management in Northeast Florida,
        = succeed "." do
          %a{href: "http://info.transportal.net/"} click here
      .col-xs-2.center.text-center