.item.active
  .container
    %h1
      Welcome to Utah Ride Link
    %h3
      Find transportation customized for
      %strong your
      needs
.item
  .container
    %img{src:'/images/UTA_nav_logo.png', style:'height:84px;'}
    %h3
      Find out more at
      %a{href:'http://www.utahridelink.org/', target:'_blank'} www.utahridelink.org

