.main-page-carousel.carousel.slide{'data-ride'=>"carousel"}
  %ol.carousel-indicators
    %li.active{data:{target:"#main-page-carousel", 'slide-to'=>"0"}}
    %li{data:{target:"#main-page-carousel", 'slide-to'=>"1"}}

  .carousel-inner{role:"listbox"}
    .item.active
      .container
        %h1
          Welcome to Ride Livingston
        %h3
          Find transportation customized for
          %strong your
          needs
    .item
      .container
        %img{src:'/images/GTC_nav_logo.png', style:'height:84px;'}

  %a.left.carousel-control{href:"#main-page-carousel", role:"button", 'data-slide'=>"prev", style:'display:none;'}
  %a.right.carousel-control{href:"#main-page-carousel", role:"button", 'data-slide'=>"next", style:'display:none;'}

