.item.active
  .container
    %h1
      Welcome to Ride Livingston
    %h3
      Find transportation customized for
      %strong your
      needs
.item
  .container
    %img{src:'/images/GTC_nav_logo.png', style:'height:84px;'}

