.item.active
  .container
    %h1
      Bienvenido a Ride Livingston
    %h3
      Encuentre transporte personalizado para
      %strong sus
      necesidades
.item
  .container
    %img{src:'/images/GTC_nav_logo.png', style:'height:84px;'}

