%div{"ng-controller"=>"LoginController"}
  %form#change-pw-nav.form{name:"changepassform", role:"form", "accept-charset"=>"UTF-8", ng:{submit:'changePassword()'}}
    .form-group
      %h4
        Change your password:
    .form-group
      %label.sr-only{for:"signup-password"}
        {{'password' | translate}}
      %input.form-control{type:"password", placeholder:"{{'password' | translate}}", id:"signup-password", ng:{model:'password.text', equals:'{{passwordConfirm.text}}'}, required:'', name:'password'}
      .alert{role:'alert'}
        .error{"ng-show"=>"changepassform.$submitted && changepassform.password.$error.required"}
          {{'simple_form.required.text' | translate}}
    .form-group
      %label.sr-only{for:"signup-password-confirm"}
        {{'password_confirmation' | translate}}
      %input.form-control{type:"password", placeholder:"{{'password_confirmation' | translate}}", id:"signup-password-confirm", ng:{model:'passwordConfirm.text', equals:'{{password.text}}'}, required:'', name:'passwordconfirm'}
      .alert-danger{role:'alert'}
        .error{"ng-show"=>"changepassform.$submitted && changepassform.passwordconfirm.$error.required"}
          {{'simple_form.required.text' | translate}}
        .error{"ng-show"=>"changepassform.$submitted && (changepassform.passwordconfirm.$invalid || changepassform.password.$invalid)"}
          {{'passwords_must_match' | translate}}
        .error{ng:{repeat:'error in loginErrors.password'}}
          {{'password' | translate}} {{error}}
    .form-group
      .password_success{ng:{show:'passwordUpdateSuccess'}}
        {{'devise.passwords.updated_not_active' | translate}}
      %button.btn.btn-primary.btn-block{type:"submit"}
        {{'save' | translate}}

