.row{style: 'margin-bottom: 1em;', ng: {show: '$index == 0'}}
  .col-xs-12.col-md-8.col-md-offset-2.no-padding
    .row
      .col-xs-12{style:' background-color: rgb(205,254,206); padding:10px;'}
        %h1
          %span
            Shared Ride
          %span{style:'font-size: 22px;', ng: {hide: 'tripCancelled'}} 
            (booked)
          %span{style: 'color: red; font-size: 22px;', ng: {show: 'tripCancelled'}}
            (cancelled)
        %h5.text-muted
          %span
            CONFIRMATION
          %span.tab1
            %strong &num;{{itinerary.booking_confirmation}}
          %span.tab1
            (Outbound)
        %h5.text-muted{ng: {show: 'paratransitItineraries.length > 1'}}
          %span 
            CONFIRMATION
          %span.tab1
            %strong &num;{{paratransitItineraries[1].booking_confirmation}}
          %span.tab1
            (Return)

.headerwrap{ng: {show: '$index == 0'}}
  .row
    .col-xs-6.text-right.text-muted
      Escorts/Companions:
    .col-xs-6.text-left
      {{escort}}
  .row
    .col-xs-12.col-md-8.col-md-offset-2.no-padding
      .row
        .col-xs-12
          %h2 Outbound Trip
.row{ng: {show: '$index == 1', style: "$index == 1 ? {'margin-top': '2em'} : {}"}}
  .col-xs-12.col-md-8.col-md-offset-2.no-padding
    .row
      .col-xs-12
        %h2 Return Trip
.row
  .col-xs-12.col-md-8.col-md-offset-2.no-padding
    .row
      .col-xs-12.text-muted
        {{itinerary.dayAndDateDesc}}
    .row
      .col-xs-10.text-left
        %h4 {{itinerary.travelTime}}
      .col-xs-2.text-right
        %h4{style: 'float:right; vertical-align: bottom;'} {{itinerary.fare | currency | free}}
.row
  .col-xs-12.col-md-8.col-md-offset-2.paratransit-body
    .border-between.timeline.mode_wait
      .row.even-height-row
        .col-xs-2.right-side.no-padding
          %h4 {{itinerary.startTimeDesc}}
        .col-xs-1.right-side
        .col-xs-9.leg-info.left-side
          .wait-info
            .row
              .leg-info.col-xs-12
                %h5.text-muted WAIT for Shared Ride
            .row
              .leg-info.col-xs-12
                %h4.text-muted {{itinerary.origin.formatted_address}}
    .border-between.timeline.mode_paratransit
      .row.even-height-row
        .col-xs-2.right-side.no-padding
          %h4 {{itinerary.wait_endDesc}}
        .col-xs-1.right-side
          %i.fa.fa-circle-o.fa-lg.waypoint{style: 'color: #0E5302;'}
        .col-xs-9.leg-info.left-side
          .bus-info
            .row{style: 'height: 100px'}
    .border-between.timeline.mode_paratransit
      .row.even-height-row
        .col-xs-2.right-side.no-padding
          %h4 {{itinerary.endTimeDesc}}
        .col-xs-1.right-side.no-pseudo
          %i.fa.fa-circle-o.fa-lg.waypoint{style: 'color: #0E5302;'}
        .col-xs-9.leg-info.left-side
          .bus-info
            .row
              .leg-info.col-xs-12.leg-header
                %h5.text-muted ARRIVE
                %h4.text-muted {{itinerary.destination.formatted_address}}
