%div{"ng-controller"=>"LoginController"}
  %form#login-nav.form{name:"loginform", role:"form", "accept-charset"=>"UTF-8", ng:{submit:'authenticate()'}}
    .form-group
      %label.sr-only{for:"emailaddress"}
        {{'email' | translate}}
      %input#emailaddress.form-control{type:"text", placeholder:"Email Address", "ng-model"=>"emailAddress", required:''}
    .form-group
      %label.sr-only{for:"password"}
        {{'password' | translate}}
      %input.form-control{type:"password", placeholder:"Password", id:"password", "ng-model"=>"password", required:''}
    .form-group
      %button.btn.btn-primary.btn-block{type:"submit"}
        {{'sign_in' | translate}}
    .alert-danger{ng:{show:'true === loginError'}}
      {{'devise.failure.not_found_in_database' | translate}}
    .checkbox{style:'display:none'}
      %label
        %input{type:"checkbox"}
        keep me logged-in
