%div{"ng-controller"=>"LoginController"}
  %form#login-nav.form{name:"loginform", role:"form", "accept-charset"=>"UTF-8", novalidate:"", ng:{submit:'authenticate()', hide:'showForgotForm'}}
    .form-group
      %label.sr-only{for:"emailaddress"}
        {{'email' | translate}}
      %input#emailaddress.form-control{type:"text", placeholder:"Email Address", "ng-model"=>"emailAddress", required:''}
    .form-group
      %label.sr-only{for:"password"}
        {{'password' | translate}}
      %input.form-control{type:"password", placeholder:"Password", id:"password", "ng-model"=>"password", required:''}
    .form-group
      %button.btn.btn-primary.btn-block{type:"submit"}
        {{'sign_in' | translate}}
    .alert-danger{ng:{show:'true === loginError'}}
      {{'devise.failure.not_found_in_database' | translate}}
    .checkbox{style:'display:none'}
      %label
        %input{type:"checkbox"}
        {{'keep_me_logged_in' | translate}}
    .form-group
      .btn.btn-link{ng:{click:"showForgotForm = !showForgotForm", hide:'forgotSuccess'}}
        {{'forgot_your_password' | translate}}
  %form#login-nav.form{name:"forgotform", role:"form", "accept-charset"=>"UTF-8", novalidate:"", ng:{submit:'forgot()', show:'showForgotForm'}}
    .form-group
      {{'reset_password_instructions' | translate}}
    .form-group
      %label.sr-only{for:"emailaddress"}
        {{'email' | translate}}
      %input#forgot-emailaddress.form-control{type:"text", name:"forgotemail", placeholder:"Email Address", "ng-model"=>"forgotEmailAddress", required:''}
    .form-group
      %button.btn.btn-primary.btn-block{type:"submit"}
        {{'submit' | translate}}
    .form-group
      %button.btn.btn-block{type:"button", ng:{click:'showForgotForm=false;'}}
        {{'cancel' | translate}}
  .forgot-success{ng:{show:'forgotSuccess'}}
    {{'devise.passwords.send_instructions' | translate}}
