.landing-iamge
.landing-plan{'ng-controller'=>'PlanController'}
  .landing-plan-centered
    .row
      .col-md-8.col-md-offset-2.col-xs-12.landing-plan-content
        .text-center
          %h1 {{"welcome_message" | translate}}
        .row
          .col-md-3.col-xs-12
            .row
              %autocomplete{ placeholder: '"origin_placeholder"',
                  class: 'autocompleteWrapper',
                  id:'fromInputDiv',
                  tabindex: 'null',
                  'inputclass' => 'form-control',
                  'disable-filter' => 'true',
                  'data' => 'locations',
                  'on-type'=> 'getLocations',
                  'on-select' => 'selectFrom',
                  'autocomplete-required' => 'null',
                  'inputid' => 'fromInput',
                  ng: {model: 'from', 'attr-mobile' => '{{mobile}}'} }
          .col-md-3.col-xs-12
            .row
              %autocomplete{ placeholder: '"destination_placeholder"',
                  class: 'autocompleteWrapper',
                  id:'toInputDiv',
                  tabindex: 'null',
                  'inputclass' => 'form-control',
                  'disable-filter' => 'true',
                  'data' => 'locations',
                  'on-type'=> 'getLocations',
                  'on-select' => 'selectTo',
                  'autocomplete-required' => 'null',
                  'inputid' => 'toInput',
                  ng: {model: 'to', 'attr-mobile' => '{{mobile}}'}}
          .col-md-2.col-xs-12
            .row
              %label.hide{:for => "ride-when"} Leave or Arrive?
              %select#ride-when.select.form-control{style: "width: 100%", ng: {model: 'fromTimeType'} }
                %option{:selected => "selected", :value => "depart"} {{"depart_at" | translate}}
                %option{:value => "arrive"} {{"arrive_by" | translate}}
          .col-md-4.col-xs-12
            .row
              %button.pull-right.btn.btn-primary{type:'button', ng:{click:'planFromLanding()'}} {{"ok_button" | translate}}
              %datetimepicker{'hour-step'=>'hourStep',
                  'minute-step'=>'minuteStep',
                  'ng-model'=>'rideTime',
                  'show-meridian'=>'true',
                  'date-format'=>'MMM dd, yyyy',
                  'date-options'=>'dateOptions',
                  'date-disabled'=>'disabled(date, mode)',
                  'datepicker-append-to-body'=>'false',
                  'readonly-date'=>'false',
                  'disabled-date'=>'false',
                  'hidden-time'=>'false',
                  'hidden-date'=>'false',
                  'name'=>'datetimepicker',
                  'show-spinners'=>'false',
                  'readonly-time'=>'false',
                  'date-opened'=>'dateOpened',
                  'show-button-bar'=>'false'}

.landing-splash-middle{'ng-include'=>'"/views/landing-splash-middle.html"' }

.row{'ng-include'=>'"/views/footer.html"'}
.row{style:"display:none;"}
  %div.map-canvas{'ui-map' => 'whereToMap', 'ui-options' => 'mapOptions', ng: {show: 'showMap'}}

