#main-page.container-fluid
  .landing-iamge
  .landing-plan{'ng-controller'=>'PlanController'}
    .landing-plan-centered
      .row
        .col-xs-12.landing-plan-content
          .text-center
            %h1 {{"welcome_message" | translate}}
          .row
            .col-md-12.col-xs-12
              %form{name:'ride_search_form', ng:{submit:'ride_search_form.$valid && planFromLanding()'}}
                #splash-search-form.row
                  .block-one
                    #origin
                      %autocomplete{ placeholder: '"origin_placeholder"',
                          class: 'autocomplete_wrapper',
                          id:'fromInputDiv',
                          'inputclass' => 'form-control',
                          'disable-filter' => 'true',
                          'data' => 'locations',
                          'on-type'=> 'getFromLocations',
                          'on-select' => 'selectFrom',
                          'on-blur'=> 'mapFrom',
                          'autocomplete-required' => 'true',
                          'inputid' => 'fromInput',
                          ng: {model: 'from', 
                            'attr-mobile' => '{{mobile}}'} }
                      .text-right{ng:{show:'errors.from'}}
                        .alert-danger
                          {{errors.from}}
                    #destination
                      %autocomplete{ placeholder: '"destination_placeholder"',
                          class: 'autocomplete_wrapper',
                          id:'toInputDiv',
                          'inputclass' => 'form-control',
                          'disable-filter' => 'true',
                          'data' => 'locations',
                          'on-type'=> 'getToLocations',
                          'on-select' => 'selectTo',
                          'on-blur'=> 'mapTo',
                          'autocomplete-required' => 'true',
                          'inputid' => 'toInput',
                          ng: {model: 'to', 
                            'attr-mobile' => '{{mobile}}'}}
                      .text-right{ng:{show:'errors.to'}}
                        .alert-danger
                          {{errors.to}}
                  .block-two
                    %label.hide{:for => "ride-when"} {{"depart_at" | translate}}/{{"arrive_by" | translate}}?
                    %select#ride-when.select.form-control{ng: {model: 'fromTimeType'} }
                      %option{:selected => "selected", :value => "arrive"} {{"arrive_by" | translate}}
                      %option{:value => "depart"} {{"depart_at" | translate}}
                    %datetimepicker{'hour-step'=>'1',
                        'minute-step'=>'1',
                        'ng-model'=>'rideTime',
                        'show-meridian'=>'true',
                        'date-format'=>'MMM dd, yyyy',
                        'date-options'=>'dateOptions',
                        'date-disabled'=>'disabled(date, mode)',
                        'datepicker-append-to-body'=>'false',
                        'readonly-date'=>'false',
                        'disabled-date'=>'false',
                        'hidden-time'=>'false',
                        'hidden-date'=>'false',
                        'name'=>'datetimepicker',
                        'show-spinners'=>'false',
                        'readonly-time'=>'false',
                        'date-opened'=>'dateOpened',
                        'show-button-bar'=>'false'}
                .row
                  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-12
                    .block-ok
                      %button.btn.btn-block.btn-primary{type:'submit', ng:{class:'{disabled:(!ride_search_form.$valid || errors.to || errors.from)}'}}
                        {{"ok_button" | translate}}
    #map{style:"width:500px; height:500px;display:none;"}
      .map-canvas{'ui-map' => 'whereToMap', 'ui-options' => 'mapOptions'}
.container-full
  .landing-splash-middle{'ng-include'=>'carouselTemplate()' }
