.row.even-height-row
  .col-xs-4.col-xs-offset-2
    .btn{ng: {click: 'cancelTrip($event, tab, $index)'}}
      %span.fa-stack
        %i.fa.fa-times-circle.fa-stack-2x{style: 'color: red;'}
      {{'cancel' | translate}}
  .col-xs-4
    .btn{ng: {click: 'toggleEmail($event)'}}
      %span.fa-stack
        %i.fa.fa-envelope-o.fa-stack-2x
      {{'email' | translate}}
.email-form{ng: {show: 'showEmail'}}
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-left
      {{'email_your_ride_detail' | translate}}
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
      {{'comma_separated_addresses' | translate}}
  .row
    .col-xs-10.col-sm-6.col-sm-offset-2{'style' => 'line-height: 2em; padding-right: 0px;'}
      %input.form-control{style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'emailString'}}
    .col-xs-2.col-sm-2{'style' => 'line-height: 2em; padding-left: 0px;'}
      .btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'invalidEmail = sendEmail(itinerary)'}}
        %i.fa.fa-envelope-o.fa-lg{style:'color: white;'}
          %span
            {{'send' | translate}}
  .row{ng: {show: 'invalidEmail == true'}}
    .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
      {{'enter_valid_emails' | translate}}
