.row
  .col-xs-2
    %img.ride-mode-service-icon{style:'vertical-align:bottom;', ng:{src:'{{trip.mode | modeIcon: trip.logo_url}}'}}
  .col-xs-10
    .row
      .col-xs-12
        %h3 {{trip.mode | modeName : trip.service_name | translate}}
    .row
      .col-xs-12
        %h4 {{trip.from_place}} {{'to' | translate}} {{trip.to_place}}
    .row
      .col-xs-8
        %h5.blue-text {{trip.startDesc}}
      .col-xs-4
        %h5.text-right{ng:{show:'trip.cancelled'}}
          {{'cancelled' | translate}}
        %h5.text-muted.text-right{ng: {show: '!trip.cancelled && trip.itineraries.length > 1'}} ({{'round_trip' | translate}})
        %h5.text-muted.text-right{ng: {show: '!trip.cancelled && trip.itineraries.length == 1'}} ({{'one_way' | translate}})
.animate-show.my-more-trip-details.no-outline{ng:{show: 'trip.showMoreDetails', click:'$event.stopPropagation();'}}
  .myrides-itinerary
    .top-border-hr{ng:{show:'trip.booking_confirmation_codes.length > 0'}}
      .row
        .col-xs-12
          %h4.text-capitalize
            {{'confirmation' | translate}}:
            %span{style:'text-decoration:underline; margin: 0px 13px;', ng:{repeat:'confirmation in trip.booking_confirmation_codes'}} &#35;{{confirmation}}
    .itinerary-details.top-border-hr{ng: {show:'$last', repeat:'itinerary in trip.itineraries' }}
      .included-template{ng:{ include: 'itineraryTemplate(trip.mode)' } }
    .email-or-cancel
      .row
        .col-sm-3.col-sm-offset-3.col-xs-6
          .btn.btn-bordered.btn-block{ng: {click: 'cancelTrip(trip); $event.stopPropagation();', hide:'trip.cancelled'}}
            %span.fa-stack
              %i.fa.fa-times-circle.fa-stack-2x{style: 'color: red;'}
            {{'cancel' | translate}}
        .col-sm-3.col-xs-6
          .btn.btn-bordered.btn-block{ng: {click: 'showEmail=!showEmail; $event.stopPropagation();'}}
            %span.fa-stack
              %i.fa.fa-envelope-o.fa-stack-2x
            {{'email' | translate}}
      .email-form{ng: {show: 'showEmail'}}
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2.text-left
            {{'email_your_ride_details' | translate}}
        .row
          .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
            {{'comma_separated_addresses' | translate}}
        .row
          .col-xs-10.col-sm-6.col-sm-offset-2{'style' => 'line-height: 2em; padding-right: 0px;'}
            %input.form-control{type:'text', name:'emailAddresses', style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'emailAddresses.text'}}
          .col-xs-2.col-sm-2{'style' => 'line-height: 2em; padding-left: 0px;'}
            .btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'invalidEmail = sendEmail(trip); $event.stopPropagation();'}}
              %i.fa.fa-envelope-o.fa-lg{style:'color: white;'}
                %span
                  {{'send' | translate}}
        .row{ng: {show: 'invalidEmail == true'}}
          .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
            {{'enter_valid_emails' | translate}}
