%nav.navbar.navbar-static-top{role: "navigation"}
  .row
    .col-md-10.col-md-offset-1.col-xs-12
      .navbar-header
        %button.navbar-toggle.collapsed{type:"button", data:{toggle:"collapse", target:"#bs-example-navbar-collapse-1"}, "aria-label"=>"toggle navigation"}
          %i.fa.fa-bars
        %a.navbar-brand{href:"#/"}
          %i.fa.fa-bolt
          {{"site_title" | translate}}
      
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %button#language_menu_dropdown.btn.btn-link.dropdown-toggle{type:"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              {{languageOptions[languageSelected]}}
              %span.caret
            %ul.dropdown-menu{"aria-labelledby"=>"language_menu_dropdown"}
              %li{ng:{click:"changeLanguage('en')" }} English
              %li{ng:{click:"changeLanguage('es')" }} Español
          %li{ng:{show:"email"}}
            %a.navbar-icon{href:"#/plan/my_rides?navbar=true", style:"margin-top: .5em;"}
              My Rides
              .badge.alert-success {{rideCount}}
          %li{"ng-show"=>"email"}
            %a.navbar-icon{href:"#/profile", style:"margin-top: .5em;"}
              {{first_name}} {{last_name}}
          %li{"ng-show"=>"email"}
            %a.navbar-icon{href:'#/', ng:{click:"logout()"}, style:"margin-top: .5em;", translate:''}
              {{"logout"}}
          %li.dropdown{ng:{show:"!email"}}
            %button.btn.btn-link.dropdown-toggle{type:"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              {{"log_in" | translate}}
              %span.caret
            %ul#login-dropdown.dropdown-menu{"ng-controller"=>"LoginController"}
              %li
                .row
                  .col-md-12
                    %form#login-nav.form{name:"loginform", role:"form", method:"post", action:"login", "accept-charset"=>"UTF-8"}
                      .form-group
                        %label.sr-only{for:"emailaddress"}
                          Email Address
                        %input#emailaddress.form-control{type:"text", placeholder:"Email Address", "ng-model"=>"emailAddress", required:''}
                      .form-group
                        %label.sr-only{for:"password"}
                          Password
                        %input.form-control{type:"password", placeholder:"Password", id:"password", "ng-model"=>"password", required:''}
                      .form-group
                        %button.btn.btn-primary.btn-block{type:"button", "ng-click"=>"authenticate()"}
                          Sign in
                      .checkbox
                        %label
                          %input{type:"checkbox"}
                          keep me logged-in
          %li{"ng-show"=>"!email"}
            %a.navbar-icon{href:"#/sign_up", style:"margin-top:.5em;", translate:''}
              {{"sign_up"}}

