%nav.navbar.navbar-static-top{role: "navigation"}
  .row
    .col-xs-12.navbar-container
      .navbar-header
        %button.navbar-toggle.collapsed{type:"button", data:{toggle:"collapse", target:"#bs-example-navbar-collapse-1"}, "aria-label"=>"toggle navigation"}
          %i.fa.fa-bars
        %a.navbar-brand{href:'/#!/', style:'margin-left:0px;'}
          .img
      
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            %button#language_menu_dropdown.btn.btn-link.dropdown-toggle{type:"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              %h4.display-inline
                {{languageOptions[languageSelected]}}
                %span.caret
            %ul.language-menu-dropdown.dropdown-menu{"aria-labelledby"=>"language_menu_dropdown"}
              %li{ng:{click:"changeLanguage('en')" }}
                %h4 English
              %li{ng:{click:"changeLanguage('es')" }}
                %h4 Español
          %li.dropdown{"ng-show"=>"username"}
            %button#user_menu_dropdown.btn.btn-link.dropdown-toggle{type:"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              %h4.display-inline.text-capitalize
                {{"welcome" | translate}} {{username}}
                %span.caret
            %ul.user-menu-dropdown.dropdown-menu{"aria-labelledby"=>"user_menu_dropdown"}
              %li
                .row
                  .col-md-12{ng:{include:"'/views/change-password-form.html'"}}
          %li{"ng-show"=>"username"}
            %a.btn.btn-link{ href: '/#!/my_trips', style: 'padding:6px 12px; border:1px solid transparent; display:inline-block;'}
              %h4.display-inline
                {{'my_trips' | translate}}
          %li{"ng-hide"=>"isGuest"}
            %button.btn.btn-link{"ng-click"=>"logout()"}
              %h4.display-inline
                {{"logout" | translate}}
          %li.dropdown{ng:{show:"isGuest"}}
            %button.btn.btn-link.dropdown-toggle{type:"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              %h4.display-inline
                {{"log_in" | translate}}
                %span.caret
            %ul#login-dropdown.dropdown-menu
              %li
                .row
                  .col-md-12{"ng-include" => "'/views/login-form.html'"}
          %li.dropdown{"ng-show"=>"isGuest"}
            %button.btn.btn-link.dropdown-toggle{type:"button", "data-toggle"=>"dropdown", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              %h4.display-inline
                {{"sign_up" | translate}}
                %span.caret
            %ul#signup-dropdown.dropdown-menu
              %li
                .row
                  .col-md-12{"ng-include" => "'/views/signup-form.html'"}

