%div{"ng-controller"=>"LoginController"}
  %p
    {{'reset_password_modal_instructions' | translate}}
  %form#reset-password-form.form{name:"resetform", role:"form", "accept-charset"=>"UTF-8", ng:{submit:'resetPassword()'}}
    .form-group
      %label.sr-only{for:"reset-password"}
        {{'password' | translate}}
      %input.form-control{type:"password", placeholder:"{{'password' | translate}}", id:"reset-password", ng:{model:'resetPassword.text', equals:'{{resetPasswordConfirm.text}}'}, required:'', name:'resetpassword'}
      .alert{role:'alert'}
        .error{"ng-show"=>"resetform.$submitted && resetform.resetpassword.$error.required"}
          {{'simple_form.required.text' | translate}}
    .form-group
      %label.sr-only{for:"reset-password-confirm"}
        {{'password_confirmation' | translate}}
      %input.form-control{type:"password", placeholder:"{{'password_confirmation' | translate}}", id:"reset-password-confirm", ng:{model:'resetPasswordConfirm.text', equals:'{{resetPassword.text}}'}, required:'', name:'resetpasswordconfirm'}
      .alert-danger{role:'alert'}
        .error{"ng-show"=>"resetform.$submitted && resetform.resetpasswordconfirm.$error.required"}
          {{'simple_form.required.text' | translate}}
        .error{"ng-show"=>"resetform.$submitted && (resetform.resetpasswordconfirm.$invalid || resetform.resetpassword.$invalid)"}
          {{'passwords_must_match' | translate}}
    .form-group
      %button.btn.btn-primary.btn-block{type:"submit"}
        {{'save' | translate}}

