.row{'ng-show'=>'!itinerary.comment && !itinerary.phone && !itinerary.url && !itinerary.schedule.length'}
  .col-xs-12.text-center
    %h3 No more details available.
.row{style:'display:flex; flex-wrap:wrap;'}
  .col-sm-7.col-xs-12
    .row{'ng-show'=>'itinerary.comment'}
      .col-xs-12
        %h3 About
        %h4 {{itinerary.comment}}
    .row{'ng-show'=>'itinerary.phone'}
      .col-xs-12
        %h3 Next Steps
        %h4
          Call 
          %a{'ng-href'=>'itinerary.phone | telephoneLink'}
            {{itinerary.phone}}
          to register to use this service
    .row{'ng-show'=>'itinerary.url'}
      .col-xs-12
        %h3 More Information
        %h4 
          Visit 
          %a{ng:{href:'itinerary.url'}} {{itinerary.url}}
          for more information
  .col-sm-5.col-xs-12{style:'display:flex; align-items:center;'}
    .row{'ng-show'=>'itinerary.schedule.length > 0', style:'padding-bottom:20px;'}
      .col-xs-12
        %h3 Schedule
      .col-xs-12
        .flex-container.schedule-row{ng:{repeat:'day in itinerary.schedule track by day.day'}}
          .flex-item{style:'width:90px;'}
            {{day.day}}
          .flex-item
            .startTime{style:'width:70px; ', 'ng-repeat'=>'startTime in day.start'}
              {{startTime}}
          .flex-item
            .endTime{style:'width:70px; ', 'ng-repeat'=>'endTime in day.end'}
              {{endTime}}
.booking{ng:{show:'showServiceLoginForm || showPrebookingQuestions', include:'"/views/rides-prebookingQuestions.html"'}}

