.rides.container-fluid{'ng-controller'=>'RidesController as rides'}
  .row
    .col-sm-4.col-xs-12{ng:{include:'"/views/rides-tripplanner.html"'}}
    .col-sm-8.col-xs-12
      #rides-itineraries-list
        .ride_itineraries{ng:{repeat:"itinerary in itineraries | filter:itineraryFilter | orderBy:orderItinerariesByFn:false", hide:'tripSelected && tripSelected != itinerary.id' }}
          .bordered
            .no-outline
              .row
                .col-sm-8.col-xs-9
                  .no-outline.icon
                    %img.ride-mode-service-icon{style:'vertical-align:bottom;', ng:{src:'{{itinerary.returned_mode_code | modeIcon: itinerary.logo_url}}'}}
                    %h2.ride-mode-service-name
                      {{itinerary.returned_mode_code | modeName: itinerary.service_name | translate}}
                .col-sm-4.col-xs-12{style:'position:relative;'}
                  .btn.btn-link.btn-block{ng:{click:'saveTrip(itinerary)', hide:'tripSelected'}}
                    {{'select_trip' | translate}}
                  .btn.btn-link.btn-block{ng:{click:'cancelTrip(itinerary)', show:'tripSelected'}}
                    {{'cancel_trip' | translate}}
            .no-outline.top-border-hr
              .row
                .col-sm-3.col-xs-6.text-center
                  %h3.text-capitalize{ng:{hide:'null == itinerary.cost || -0.01 == itinerary.cost'}}
                    {{itinerary.cost | roundUp: itinerary.returned_mode_code | currency | free | translate}}
                .col-sm-8.col-sm-offset-1.col-xs-12
                  %h3{style:'font-weight:normal'}
                    %span.start-end-time.text-nowrap {{itinerary.start_time | date : 'h:mm a'}} {{'to' | translate}}
                    %span.start-end-time.text-nowrap {{itinerary.end_time | date : 'h:mm a'}}
              .row{style:'margin-bottom: 1em;'}
                .col-sm-8.col-xs-12
                  %h3{style:'margin: 0px;'}
                    //%span.small.text-nowrap{ng:{show: 'itinerary.duration'}}
                    //  {{itinerary.duration | seconds}} {{'travel_time' | translate}},
                    %span.small.text-nowrap {{itinerary.walk_time | seconds}} {{'walking' | translate}}
                .col-sm-4.col-xs-12.text-center
                  .btn.btn-primary{ng: {click: 'itinerary.showMoreDetails = !itinerary.showMoreDetails', hide:'tripSelected' } }
                    %span{ng:{hide:'itinerary.showMoreDetails'}}
                      {{'show_more' | translate }}
                    %span{ng:{show:'itinerary.showMoreDetails'}}
                      {{'show_less' | translate }}
            .top-border-hr{ng: {show: 'itinerary.showMoreDetails'}}
              .included-template{ng:{ 'include'=>'itineraryTemplate( itinerary.returned_mode_code )' } }
              .email-or-cancel
                .email-itinerary-form{style:'margin:1em 0px;', ng: {show: 'showEmail'}}
                  .row
                    .col-xs-12.col-sm-8.col-sm-offset-2.text-left
                      {{'email_your_ride_details' | translate}}
                  .row
                    .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
                      {{'comma_separated_addresses' | translate}}
                  .row
                    .col-sm-6.col-sm-offset-2.col-xs-8{'style' => 'line-height: 2em; padding-right: 0px;'}
                      %input.form-control{type:'text', style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'emailAddresses.text'}}
                    .col-sm-2.col-xs-10{'style' => 'line-height: 2em; padding-left: 0px;'}
                      .btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'sendEmail(itinerary)'}}
                        %i.fa.fa-envelope-o.fa-lg{style:'color: white;'}
                          %span
                            {{'send' | translate}}
                  .row{ng: {show: 'invalidEmail == true'}}
                    .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
                      {{'enter_valid_emails' | translate}}
                .action-buttons{ng:{show:'tripSelected == itinerary.id'}}
                  .row
                    .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1
                      .btn.btn-primary.btn-block{ng:{click:'showEmail || toggleEmail()', class:'{disabled:showEmail}'}}
                        {{'email_button' | translate}}
      #rides-itineraries-loading.fade.in{'ng-show'=>'updatingResults', style:'position:absolute; top:0px;'}
        %h3{style:'margin-top:30px;'}
          {{'finding_rides' | translate}}...
        .sk-circle
          .sk-circle1.sk-child
          .sk-circle2.sk-child
          .sk-circle3.sk-child
          .sk-circle4.sk-child
          .sk-circle5.sk-child
          .sk-circle6.sk-child
          .sk-circle7.sk-child
          .sk-circle8.sk-child
          .sk-circle9.sk-child
          .sk-circle10.sk-child
          .sk-circle11.sk-child
          .sk-circle12.sk-child
