.row
  .col-md-12.col-md-offset-0.col-sm-10.col-sm-offset-1.col-xs-12{ng:{controller:"TransitController"}}
    .row
      .col-md-6.col-xs-12
        %h1 {{'directions' | translate}}
        .transit-directions.line-border
          .row.transit-details{style:'position:relative;', ng: {repeat: 'leg in itinerary.json_legs track by $index'}}
            .row{ng:{show:'$first'}}
              .col-xs-4.text-center
                .nothing{style:'display:inline-block; height:100%;'}
                %h4.text-capitalize
                  {{'start' | translate}}
              .col-xs-8
                .nothing{style:'display:inline-block; height:100%;'}
                %h4
                  {{itinerary.start_location.formatted_address | noCountry}}

            .leg-end-time{ng:{show:'$last'}}
              %h4.text-nowrap{style:'margin:2.5px 0px;'}
                {{leg.endTime | date : 'shortTime'}}

            .leg-start-time
              %h4.text-nowrap{style:'margin:2.5px 0px;'}
                {{leg.startTime | date : 'shortTime'}}

            .row
              .col-xs-4.text-center
                .nothing{style:'display:inline-block; height:100%;', ng:{hide:'$first'}}
                .text-center
                  %img{"ng-src"=>"{{leg.mode | modeIcon}}", style:'height:2.7em;'}
                .transit-info.text-center{ng: {show: 'leg.mode != "WALK"'}}
                  %h3{ng: {attr: {style:'background-color:#{{leg.routeColor}}; color: #{{leg.routeTextColor}}; padding-top:3px; margin-top:5px;'}}}
                    {{leg.route}}
                  %h4
                    {{leg.routeLongName}}
                  %h5
                    %i {{leg.headsign}}
                .last-info{ng:{show:'$last'}}
                  %h4.text-capitalize
                    {{'end' | translate}}
                  .nothing{style:'display:inline-block; height:100%;'}
              .col-xs-8
                .nothing{style:'display:inline-block; height:100%;', ng:{hide:'$first'}}
                .walk-info{ng: {show: 'leg.mode == "WALK"'}}
                  .row
                    .col-xs-12{style:'padding-top:10px;'}
                      .pull-left
                        %h4.display-inline
                          {{'walk' | translate}} {{leg.distance | distance}}
                        %h5.text-muted.display-inline.text-nowrap
                          ({{leg.duration | seconds}})
                        %h4{ng:{hide:'$last'}}
                          {{'to' | translate}} {{leg.to.name}}
                        %h4{ng:{show:'$last'}}
                          {{itinerary.end_location.formatted_address | noCountry}}
                      .pull-right.text-right
                        .btn.btn-link{style:'padding:0px 7px 7px 7px;', ng:{click:'showSteps[$index] = !showSteps[$index]'}}
                          %h4{style:'margin:0px;'}
                            .show-steps-click{ng:{hide:'showSteps[$index]'}}
                              {{'show_steps' | translate}}
                            .hide-steps-click{ng:{show:'showSteps[$index]'}}
                              {{'hide_steps' | translate}}

                .transit-info{ng: {show: 'leg.mode != "WALK"'}}
                  .row
                    .col-xs-12
                      .row
                        .col-xs-12
                          %h5.text-muted{ng: {show: 'leg.warning'}}
                            {{leg.warning}}
                          %h5.text-muted{ng: {show: 'leg.transferTimeInMins'}}
                            {{'wait' | translate}} {{leg.transferTimeInMins}} {{'minutes' | translate}
                          %h5
                            %span.text-muted
                              {{'from' | translate}}
                            {{leg.from.name}}
                          %h4
                            %span.text-muted
                              {{'get_on' | translate}}
                            %div
                              {{leg.serviceName}}
                          %h4
                            %span.text-nowrap
                              {{leg.mode}}
                            %span.text-nowrap
                              {{leg.route}}
                            %span.text-nowrap
                              {{leg.routeLongName}}
                          %h4
                            %i {{leg.headsign}}
                          %h4{ng: {show: '$first'}}
                            {{'to' | translate}} {{itinerary.start_location.formatted_address | noCountry}}
                          %h4{ng: {show: 'leg.specialService'}}
                            {{'this_is_a_special_service' | translate}} {{leg.mode | lowercase }}.
                          %h5.text-muted
                            {{leg.distance | distance}} ({{leg.duration | seconds}})
                          %h4
                            %span.text-muted
                              {{'get_off' | translate}}
                            {{leg.to.name}}

            .show-steps.top-border-hr.pull-left{style:'width:100%; padding:0px; margin-bottom:7px;', ng:{show:'showSteps[$index] === true'}}
              .col-xs-12
                .transit-details.steps.row{ng:{repeat:'step in leg.steps track by step.lon'}}
                  .col-xs-4.text-right
                    %h4
                      %span.text-muted.text-capitalize{ng:{show:'$first'}} {{'depart' | translate}}
                      %span.text-muted.text-capitalize{ng:{hide:'$first'}} {{step.relativeDirection }}
                  .col-xs-8
                    %h4{ng:{show:'$first'}} {{step.streetName}}, {{'go' | translate}} {{step.absoluteDirection}}
                    %h4{ng:{hide:'$first'}} {{'on' | translate}} {{step.streetName}} ({{step.absoluteDirection}})
                  .col-xs-4.text-right
                    %h3{style:'margin: 0px;'}
                      %b{class:'text-muted fa {{step.relativeDirection | directionIcon}}'}
                  .col-xs-8
                    %h4
                      .small.text-capitalize
                        {{'go' | translate}} {{step.distance | distance}}
                .transit-details.row
                  .col-xs-4.text-right
                    %h4
                      %span.text-muted.text-capitalize {{'arrive' | translate}}
                  .col-xs-8
                    %h4
                      {{leg.to.name }}



      .col-md-6.col-xs-12.padded-transit-map
        .map-canvas{:style => "height: 40em", "ui-map" => "routeMap", "ui-options" => "mapOptions"}

