%select.form-control{id:'question-id-{{$index}}', name:'{{question.code}}', ng:{model:'itinerary.answers[question.code]', required:'', options:'o as o for o in question.choices'}}
  %option{style:'display:none', value:'', disabled:''}  
.text-right.error{"ng-show"=>"rides_forms.prebooking_questions[question.code].error_required"}
  Required
