.bordered
  .row{ng: {click: 'itinerary.showMoreDetails = !itinerary.showMoreDetails' } }
    .col-xs-12
      .pull-right.btn.btn-primary
        Select
      .icon
        %img{style:'vertical-align:bottom;', ng:{src:'/images/modes/{{itinerary.returned_mode_code | modeIcon}}'}}
        %h4{style:'display:inline;'}
          {{itinerary.returned_mode_code | modeName}}
  %div{style:'border-top:1px solid gray;', ng: {click: 'itinerary.showMoreDetails = !itinerary.showMoreDetails' } }
    .row
      .col-xs-6
        %h4
          {{itinerary.start_time | date : 'h:mm a'}} to {{itinerary.end_time | date : 'h:mm a'}} ({{itinerary.duration | seconds}})
      .col-xs-2
        %h4
          {{itinerary.cost | currency | free}}
      .col-xs-4
        %h4{'ng-show':'itinerary.walk_time'}
          {{itinerary.walk_time | seconds}} walking
  %div{style:'border-top:1px solid gray;', ng: {show: 'itinerary.showMoreDetails' } }
    .row
      .col-xs-12{ng:{include:'itineraryTemplate( itinerary.returned_mode_code )'}}

