.row
  .col-md-10.col-md-offset-1
    .row
      .col-xs-12
        .row{style: 'margin-top:20px;'}
          .col-xs-12
            %h4{'ng-bind-html'=>'itinerary.comment'}
        .row
          .col-xs-12
            %h3.text-muted{style:'display:inline-block'}
              Estimated fare is:
            %h3.text-center{style:'display:inline-block'}
              {{itinerary.cost | roundUp: itinerary.returned_mode_code | currency}} 
              %span{'ng-show'=>'itinerary.returnItinerary'}
                (Each Way)
        .row{style:'padding:20px 0px;'}
          .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.text-center
            %a.btn.btn-primary.btn-block{ng: {href: "{{itinerary.phone | telephoneLink }}", click: 'callService(itinerary.phone);'}}
              Call {{itinerary.service_name}}
        .row{style:'padding:20px 0px;'}
          .col-xs-12.text-center
            Their phone number is {{itinerary.phone}}

