.row
  .col-md-12{ng:{controller:"TransitController"}}
    .row
      .col-md-6.col-xs-12
        %h1 {{'directions' | translate}}
        .mode_walk{ng: {repeat: 'leg in itinerary.json_legs track by $index'}}
          .row
            .col-xs-4
              %img{"ng-src"=>"{{leg.mode | modeIcon}}"}
            .col-xs-8.text-center
              .walk-info
                %h4
                  {{leg.duration | seconds}}
            .col-xs-12.top-border-hr
              .row
                .transit-details.start_location
                  .row
                    .col-xs-4.text-right
                      %h4
                        %span.text-muted.text-capitalize {{'start' | translate}}
                    .col-xs-8
                      %h4
                        {{itinerary.start_location.formatted_address | noCountry}}
                .transit-details.steps{ng:{repeat:'step in leg.steps track by step.lon'}}
                  .row
                    .col-xs-4.text-right
                      %h4
                        %span.text-muted.text-capitalize{ng:{show:'$first'}} {{'depart' | translate}}
                        %span.text-muted.text-capitalize{ng:{hide:'$first'}} {{step.relativeDirection }}
                    .col-xs-8
                      %h4{ng:{show:'$first'}} {{step.streetName}}, {{'go' | translate}} {{step.absoluteDirection}}
                      %h4{ng:{hide:'$first'}} {{'on' | translate}} {{step.streetName}} ({{step.absoluteDirection}})
                    .col-xs-4.text-right
                      %h3{style:'margin: 0px;'}
                        %b{class:'text-muted fa {{step.relativeDirection | directionIcon}}'}
                    .col-xs-8
                      %h4
                        .small.text-capitalize
                          {{'go' | translate}} {{step.distance | distance}}
                .transit-details.end_location
                  .row
                    .col-xs-4.text-right
                      %h4
                        %span.text-muted.text-capitalize {{'end' | translate}}
                    .col-xs-8
                      %h4
                        {{itinerary.end_location.formatted_address | noCountry}}

      .col-md-6.col-xs-12{style:'padding-top:35px;'}
        .map-canvas{:style => "height: 40em", "ui-map" => "routeMap", "ui-options" => "mapOptions"}

