.row
  .col-md-12{ng:{controller:"TransitController"}}
    .row
      .col-xs-6
        %h1 {{'directions' | translate}}
        .transit-details{ng: {repeat: 'leg in itinerary.json_legs track by $index', 
              class: '{"mode_car": leg.mode == "CAR", "mode_bicycle": leg.mode == "BICYCLE","mode_bus": leg.mode == "BUS", "mode_walk": leg.mode == "WALK", "mode_tram": leg.mode == "TRAM" || leg.mode == "RAIL"}'}}
          .row.even-height-row
            .col-xs-1
              %img{"ng-src"=>"{{leg.mode | modeIcon}}"}
            .col-xs-3.text-center
              .walk-info{ng: {show: 'leg.mode == "WALK"'}}
                {{leg.duration | seconds}}
              .bus-info{ng: {show: 'leg.mode == "BUS"'}}
                %span{ng: {attr: {style:'background-color:#{{leg.routeColor}}; color: #{{leg.routeTextColor}}'}}}
                  {{leg.route}}
              .tram-info{ng: {show: 'leg.mode == "TRAM" || leg.mode == "RAIL"'}}
                
            .col-xs-8

              .walk-info{ng: {show: 'leg.mode == "WALK"'}}
                .first{ng: {show: '$first'}}
                  Start {{itinerary.start_location.formatted_address | noCountry}}
                .not-first{ng: {show: '!$first'}}
                  Start walking {{leg.from.name}}
                .show-steps-click{ng:{hide:'showSteps[$index]', click:'showSteps[$index] = !showSteps[$index]'}}
                  Show steps
                .hide-steps-click{ng:{show:'showSteps[$index]', click:'showSteps[$index] = !showSteps[$index]'}}
                  Hide steps
                .show-steps{ng:{show:'showSteps[$index] === true'}}
                  .steps{ng:{repeat:'step in leg.steps track by step.lon'}}
                    .first-step{ng:{show:'$first'}}
                      {{'depart' | translate}} {{step.streetName}}, go {{step.absoluteDirection}} for {{step.distance | distance}}
                    .step{ng:{hide:'$first'}}
                      Turn {{step.relativeDirection}} ({{step.absoluteDirection}}) on {{step.streetName}}, go {{step.distance | distance}}
              .bus-info{ng: {show: 'leg.mode == "BUS"'}}
                %h5.text-muted{ng: {show: 'leg.warning'}}  {{leg.warning}}
                %h5.text-muted{ng: {show: 'leg.transferTimeInMins'}}  {{'wait' | translate}} {{leg.transferTimeInMins}} {{'minutes' | translate}}
                .get-on
                  Get on {{leg.serviceName}} 
                %span{ng: {show: '!$first'}}
                  {{leg.from.name}}
                %span{ng: {show: '$first'}}
                  {{itinerary.start_location.formatted_address | noCountry}}
                %h5.text-muted {{leg.distance | distance}} ({{leg.duration | seconds}})

              .tram-info{ng: {show: 'leg.mode == "TRAM" || leg.mode == "RAIL"'}}
                %h5.text-muted{ng: {show: 'leg.warning'}}  {{leg.warning}}
                %h5.text-muted{ng: {show: 'leg.transferTimeInMins'}}  {{'wait' | translate} {{leg.transferTimeInMins}} {{'minutes' | translate}
                %h5.text-muted Get on {{leg.serviceName}}
                %h4{ng: {show: '!$first'}}
                  {{'mode_rail_name'| translate}} @ {{leg.from.name}}
                %h4{ng: {show: '$first'}}
                  {{'mode_rail_name'| translate}} @ {{itinerary.start_location.formatted_address | noCountry}}
                %h4{ng: {show: 'leg.specialService'}}  This is a special service train.
                %h5.text-muted {{leg.distance | distance}} ({{leg.duration | seconds}})

      .col-xs-6
        .map-canvas{:style => "height: 40em", "ui-map" => "routeMap", "ui-options" => "mapOptions"}

