%select.form-control{id:'question-id-{{$index}}', required:'', name:'question-{{$index}}', ng:{model:'itinerary.answers[question.code]', options:'o[1] as o[0] for o in question.choices'}}
.error{"ng-show"=>"prebooking_questions['question-'+$index].$error.required"}
  Required
