.rides{'ng-controller'=>'RidesController'}
  .row
    .col-lg-3.col-lg-offset-1.col-sm-3.col-xs-12{'ng-controller'=>'PlanController'}
      .bordered
        .ride-planner-view.text-center{'ng-show'=>'tripSelected'}
          .row
            .col-xs-12
              %h4
                %span.small{style:'display: inline-block; width: 35px;text-align: right;'}
                  From
                {{from}}
          .row
            .col-xs-12
              %h4
                %span.small{style:'display: inline-block; width: 35px;text-align: right;'}
                  To
                {{to}}
          .row
            .col-xs-4.text-right
              %h4{'ng-show'=>'fromTimeType === "arrive"'}
                {{"arrive_by" | translate}}
              %h4{'ng-show'=>'fromTimeType === "depart"'}
                {{"depart_at" | translate}}
            .col-xs-8
              %h4
                {{rideTime | date: 'MMM d, yyyy h:mm a'}}
        .ride-planner-menu{'ng-hide'=>'tripSelected'}
          .row
            .col-xs-12
              %autocomplete{ placeholder: '"origin_placeholder"',
                  class: 'autocompleteWrapper',
                  id:'fromInputDiv',
                  tabindex: 'null',
                  'inputclass' => 'form-control',
                  'disable-filter' => 'true',
                  'data' => 'locations',
                  'on-type'=> 'getLocations',
                  'on-focus'=> 'focusFrom',
                  'on-blur'=> 'mapFrom',
                  'on-select' => 'selectFrom',
                  'autocomplete-required' => 'true',
                  'inputid' => 'fromInput',
                  ng: {model: 'from', 'attr-mobile' => '{{mobile}}'} }
          .row
            .col-xs-12
              %autocomplete{ placeholder: '"destination_placeholder"',
                  class: 'autocompleteWrapper',
                  id:'toInputDiv',
                  tabindex: 'null',
                  'inputclass' => 'form-control',
                  'disable-filter' => 'true',
                  'data' => 'locations',
                  'on-type'=> 'getLocations',
                  'on-focus'=> 'focusTo',
                  'on-blur'=> 'mapTo',
                  'on-select' => 'selectTo',
                  'autocomplete-required' => 'true',
                  'inputid' => 'toInput',
                  ng: {model: 'to', 'attr-mobile' => '{{mobile}}'}}
          .row
            .col-xs-12
              %label.hide{:for => "ride-when"} Leave or Arrive?
              %select#ride-when.select.form-control{style: "width: 100%", ng: {model: 'fromTimeType'} }
                %option{:selected => "selected", :value => "depart"} {{"depart_at" | translate}}
                %option{:value => "arrive"} {{"arrive_by" | translate}}
          .row
            .col-xs-12
              %datetimepicker{'hour-step'=>'hourStep',
                  'minute-step'=>'minuteStep',
                  'ng-model'=>'rideTime',
                  'show-meridian'=>'true',
                  'date-format'=>'MMM dd, yyyy',
                  'date-options'=>'dateOptions',
                  'date-disabled'=>'disabled(date, mode)',
                  'datepicker-append-to-body'=>'false',
                  'readonly-date'=>'false',
                  'disabled-date'=>'false',
                  'hidden-time'=>'false',
                  'hidden-date'=>'false',
                  'name'=>'datetimepicker',
                  'show-spinners'=>'false',
                  'readonly-time'=>'false',
                  'date-opened'=>'dateOpened',
                  'data-on-set-time'=>'onRideTimeSet()',
                  'show-button-bar'=>'false'}
          .row
            .col-xs-12
              %button.btn.btn-link{type:"button", data:{toggle:"collapse", target:"#sidebar-collapse-1"}, "aria-label"=>"toggle trip options"}
                %h3 {{"customize_your_trip" | translate }}
          #sidebar-collapse-1.collapse{"ng-class"=>"{ in: !isMobile() }"}
            .row
              .col-xs-12
                .trip-question{ng:{repeat:'question in characteristicsQuestions track by question.code'}}
                  %label{style:'width:100%;'}
                    .characteristic-boolean.pull-right
                      %input{type:'checkbox', name:'{{question.code}}', ng:{model:'characteristics[question.code]', change:'characteristicChange(question.code, characteristics[question.code])'}}
                    {{question.note}}
            .row
              .col-xs-12
                .trip-question{ng:{repeat:'question in accommodationsQuestions track by question.code'}}
                  %label{style:'width:100%;'}
                    .characteristic-boolean.pull-right
                      %input{type:'checkbox', name:'{{question.code}}', ng:{model:'accommodations[question.code]', change:'accommodationChange(question.code, accommodations[question.code])'}}
                    {{question.note}}
            .row{style:"display:none;"}
              .col-xs-12
                %h3 {{"modes" | translate }}
                .mode-question
                  {{"mode_paratransit_name" | translate }}
                .mode-question
                  {{"mode_transit_name" | translate }}
                .mode-question
                  {{"mode_drive_name" | translate }}
            .row
              .col-xs-12
                %h3 Trip Purpose?
                %select#trip-purpose.select.form-control{style: 'width:100%', ng:{model:'tripPurpose', options:'purpose.name for purpose in purposesQuestions track by purpose.code', change:'purposeChange(purpose, $i)'}}
                  %option{value:''} All
            .row
              .col-xs-12
                %h3
                  Order By
                %select#order-by.select.form-control{style: 'width:100%', ng:{model:'$parent.orderItinerariesBy'}}
                  %option{value:'cost'} Price
                  %option{value:'duration'} Travel Time
                  %option{value:'walk_distance'} Walking Distance
            .row
              .col-xs-12
                %h3
                  Transit Modes
                .mode-options
                  .mode{ng:{repeat:'mode in itineraryModes'}}
                    %label{style:'width:100%;'}
                      .mode-boolean.pull-right
                        %input{type:'checkbox', name:'{{mode}}', ng:{model:'$parent.selectedItineraryModes[mode]', change:'$parent.itineraryFilterChange()'}}
                      {{mode | modeName}}
          .row{style:"display:none;"}
            %div.map-canvas{'ui-map' => 'whereToMap', 'ui-options' => 'mapOptions'}

    .col-lg-7.col-sm-9.col-xs-12
      #rides-itineraries-list
        .ride_itineraries{ng:{repeat:"itinerary in itineraries | filter:itineraryFilter | orderBy:orderItinerariesBy:false", hide:'tripSelected && tripSelected != itinerary.id' }}
          .bordered
            .no-outline
              .row
                .col-sm-8.col-xs-9
                  .no-outline.icon
                    %img.ride-mode-service-icon{style:'vertical-align:bottom;', ng:{src:'{{itinerary.returned_mode_code | modeIcon: itinerary.logo_url}}'}}
                    %h2.ride-mode-service-name
                      {{itinerary.returned_mode_code | modeName: itinerary.service_name}}
                .col-sm-4.col-xs-12{style:'position:relative;'}
                  .btn.btn-primary.btn-block{ng:{click:'saveTrip(itinerary)', hide:'tripSelected'}}
                    Select
                  .btn.btn-primary.btn-block{ng:{click:'cancelTrip(itinerary)', show:'tripSelected'}}
                    Cancel
            .no-outline.top-border-hr
              .row
                .col-sm-3.col-xs-6.text-center
                  %h3
                    {{itinerary.cost | roundUp: itinerary.returned_mode_code | currency | free}}
                .col-sm-8.col-sm-offset-1.col-xs-12
                  %h3{style:'font-weight:normal'}
                    %span.start-end-time.text-nowrap {{itinerary.start_time | date : 'h:mm a'}} to
                    %span.start-end-time.text-nowrap {{itinerary.end_time | date : 'h:mm a'}}
              .row{style:'margin-bottom: 1em;'}
                .col-sm-8.col-xs-12
                  %h3{style:'margin: 0px;'}
                    %span.small.text-nowrap {{itinerary.duration | seconds}} travel time,
                    %span.small.text-nowrap {{itinerary.walk_time | seconds}} walking
                .col-sm-4.col-xs-12.text-center
                  .btn.btn-link{ng: {click: 'itinerary.showMoreDetails = !itinerary.showMoreDetails', hide:'tripSelected' } }
                    %span{ng:{hide:'itinerary.showMoreDetails'}}
                      More trip details
                    %span{ng:{show:'itinerary.showMoreDetails'}}
                      Close trip details
            .top-border-hr{ng: {show: 'itinerary.showMoreDetails'}}
              .included-template{ng:{ 'include'=>'itineraryTemplate( itinerary.returned_mode_code )' } }
              .email-itinerary-form{style:'margin:1em 0px;', ng: {show: 'showEmail'}}
                .row
                  .col-xs-12.col-sm-8.col-sm-offset-2.text-left
                    Email your ride details to a friend (or yourself).
                .row
                  .col-xs-12.col-sm-8.col-sm-offset-2.text-left.text-muted
                    Use a comma to separate multiple addresses
                .row
                  .col-sm-6.col-sm-offset-2.col-xs-8{'style' => 'line-height: 2em; padding-right: 0px;'}
                    %input.form-control{type:'text', style: 'font-size: .9em; border-top-right-radius:0px; border-bottom-right-radius:0px;', ng: {model: 'emailAddresses.text'}}
                  .col-sm-2.col-xs-10{'style' => 'line-height: 2em; padding-left: 0px;'}
                    .btn.btn-success.btn-block{style: 'padding-left: 0px; padding-right: 0px;min-width: 20px; border-top-left-radius:0px; border-bottom-left-radius:0px;', ng: {click: 'sendEmail(itinerary)'}}
                      %i.fa.fa-envelope-o.fa-lg{style:'color: white;'}
                        %span
                          Send
                .row{ng: {show: 'invalidEmail == true'}}
                  .col-xs-12.col-sm-8.col-sm-offset-2.text-left{style: 'color: red'}
                    Please enter only valid email addresses
              .row.action-buttons
                .col-md-4.col-md-offset-4.col-xs-10.col-xs-offset-1
                  .btn.btn-primary.btn-block{ng:{click:'showEmail || toggleEmail()', show: 'tripSelected == itinerary.id', class:'{disabled:showEmail}'}}
                    {{'email_button' | translate}}
      #rides-itineraries-loading.fade.in{'ng-show'=>'updatingResults', style:'position:absolute; top:0px;'}
        %h3{style:'margin-top:30px;'}
          Finding Rides...
        .sk-circle
          .sk-circle1.sk-child
          .sk-circle2.sk-child
          .sk-circle3.sk-child
          .sk-circle4.sk-child
          .sk-circle5.sk-child
          .sk-circle6.sk-child
          .sk-circle7.sk-child
          .sk-circle8.sk-child
          .sk-circle9.sk-child
          .sk-circle10.sk-child
          .sk-circle11.sk-child
          .sk-circle12.sk-child

