.bordered{'ng-controller'=>'PlanController'}
  .ride-planner-view.text-center{'ng-show'=>'tripSelected'}
    .row
      .col-xs-12
        %h4
          %span.small{style:'display: inline-block; width: 35px;text-align: right;'}
            {{'from' | translate}}
          {{from}}
    .row
      .col-xs-12
        %h4
          %span.small{style:'display: inline-block; width: 35px;text-align: right;'}
            {{'to' | translate}}
          {{to}}
    .row
      .col-xs-4.text-right
        %h4{'ng-show'=>'fromTimeType === "arrive"'}
          {{"arrive_by" | translate}}
        %h4{'ng-show'=>'fromTimeType === "depart"'}
          {{"depart_at" | translate}}
      .col-xs-8
        %h4
          {{rideTime | date: 'MMM d, yyyy h:mm a'}}
  .ride-planner-menu{'ng-hide'=>'tripSelected'}
    .row
      .col-xs-12
        %autocomplete{ placeholder: '"origin_placeholder"',
            class: 'autocompleteWrapper',
            id:'fromInputDiv',
            tabindex: 'null',
            'inputclass' => 'form-control',
            'disable-filter' => 'true',
            'data' => 'locations',
            'on-type'=> 'getLocations',
            'on-focus'=> 'focusFrom',
            'on-blur'=> 'mapFrom',
            'on-select' => 'selectFrom',
            'autocomplete-required' => 'true',
            'inputid' => 'fromInput',
            ng: {model: 'from', 'attr-mobile' => '{{mobile}}'} }
    .row
      .col-xs-12
        %autocomplete{ placeholder: '"destination_placeholder"',
            class: 'autocompleteWrapper',
            id:'toInputDiv',
            tabindex: 'null',
            'inputclass' => 'form-control',
            'disable-filter' => 'true',
            'data' => 'locations',
            'on-type'=> 'getLocations',
            'on-focus'=> 'focusTo',
            'on-blur'=> 'mapTo',
            'on-select' => 'selectTo',
            'autocomplete-required' => 'true',
            'inputid' => 'toInput',
            ng: {model: 'to', 'attr-mobile' => '{{mobile}}'}}
    .row
      .col-xs-12
        %label.hide{:for => "ride-when"} Leave or Arrive?
        %select#ride-when.select.form-control{style: "width: 100%", ng: {model: 'fromTimeType'} }
          %option{:selected => "selected", :value => "depart"} {{"depart_at" | translate}}
          %option{:value => "arrive"} {{"arrive_by" | translate}}
    .row
      .col-xs-12
        %datetimepicker{'hour-step'=>'1',
            'minute-step'=>'1',
            'ng-model'=>'rideTime',
            'show-meridian'=>'true',
            'date-format'=>'MMM dd, yyyy',
            'date-options'=>'dateOptions',
            'date-disabled'=>'disabled(date, mode)',
            'datepicker-append-to-body'=>'false',
            'readonly-date'=>'false',
            'disabled-date'=>'false',
            'hidden-time'=>'false',
            'hidden-date'=>'false',
            'name'=>'datetimepicker',
            'show-spinners'=>'false',
            'readonly-time'=>'false',
            'date-opened'=>'dateOpened',
            'data-on-set-time'=>'onRideTimeSet()',
            'show-button-bar'=>'false'}
    .row
      .col-xs-12
        %button.btn.btn-link{type:"button", data:{toggle:"collapse", target:"#sidebar-collapse-1"}, "aria-label"=>"toggle trip options"}
          %h3 {{"customize_your_trip" | translate }}
    #sidebar-collapse-1.collapse{"ng-class"=>"{ in: !isMobile() }"}
      .row
        .col-xs-12
          .trip-question{ng:{repeat:'question in characteristicsQuestions track by question.code'}}
            %label{style:'width:100%;'}
              .characteristic-boolean.pull-right
                %input{type:'checkbox', name:'{{question.code}}', ng:{model:'characteristics[question.code]', change:'characteristicChange(question.code, characteristics[question.code])'}}
              {{question.note}}
      .row
        .col-xs-12
          .trip-question{ng:{repeat:'question in accommodationsQuestions track by question.code'}}
            %label{style:'width:100%;'}
              .characteristic-boolean.pull-right
                %input{type:'checkbox', name:'{{question.code}}', ng:{model:'accommodations[question.code]', change:'accommodationChange(question.code, accommodations[question.code])'}}
              {{question.note}}
      .row{style:"display:none;"}
        .col-xs-12
          %h3 {{"modes" | translate }}
          .mode-question
            {{"mode_paratransit_name" | translate }}
          .mode-question
            {{"mode_transit_name" | translate }}
          .mode-question
            {{"mode_drive_name" | translate }}
      .row
        .col-xs-12
          %h3 Trip Purpose?
          %select#trip-purpose.select.form-control{style: 'width:100%', ng:{model:'tripPurpose', options:'purpose.name for purpose in purposesQuestions track by purpose.code', change:'purposeChange(purpose, $i)'}}
            %option{value:''} {{'all' | translate}}
      .row
        .col-xs-12
          %h3
            {{'sort_by' | translate}}
          %select#order-by.select.form-control{style: 'width:100%', ng:{model:'$parent.orderItinerariesBy'}}
            %option{value:'cost'} {{'fare_sorter' | translate}}
            %option{value:'duration'} {{'travel_time_sorter' | translate}}
            %option{value:'walk_distance'} {{'walk_distance_sorter' | translate}}
      .row
        .col-xs-12
          %h3
            {{'preferred_modes' | translate}}
          .mode-options
            .mode{ng:{repeat:'mode in itineraryModes'}}
              %label{style:'width:100%;'}
                .mode-boolean.pull-right
                  %input{type:'checkbox', name:'{{mode}}', ng:{model:'$parent.selectedItineraryModes[mode]', change:'$parent.itineraryFilterChange()'}}
                {{mode | modeName | translate}}
    .row{style:"display:none;"}
      %div.map-canvas{'ui-map' => 'whereToMap', 'ui-options' => 'mapOptions'}

